mixin conversation(spec)
    - spec = spec || {}
    - spec.__class = spec.__class || ''

    .conversation
        //- .conversation__row.-bot
        //-     .conversation__msg Hello! My name is Nathan, and I'm Niño's digital portfolio assistant. I can tell you more about him. Would you like to know more about his skills or his achievements?

        //- .conversation__row.-human
        //-     .conversation__msg Hello Nathan! Pleasure to meet you!

