// chat styles
.chat {
    background-color: $material-background;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 768px;
    padding: 0 $gutter 10px;
    position: fixed;
    right: 0;
    width: 100%;

    &__box {
        @include transition(border-bottom, $animTime, $easeOutExpo);

        background-color: transparent;
        border: 0;
        border-bottom: 2px solid $black;
        font-size: 1.6em;
        font-weight: $light;
        padding: 10px 0;
        padding-right: 80px;
        width: 100%;

        &:focus {
            border-bottom-color: $blue;
            outline: 0;
        }
    }

    &-btn-wrapper {
        @include clearfix;

        height: 40px;
        position: absolute;
        right: 20px;
        top: 0;
        width: 80px;
    }

    &__btn {
        @extend .cta;
        @include transition((color, opacity), $animTime, $easeOutExpo);

        background-color: transparent;
        border-radius: 0;
        color: $matte-black;
        font-weight: $bold;
        float: left;
        height: 40px;
        opacity: 1;
        padding: 8px 0;
        width: 40px;

        &:before {
            @extend %icomoon;

            font-size: 22px;
        }

        &:hover {
            background-color: transparent;
        }

        &:disabled {
            opacity: 0.25;
            cursor: default;
        }

        &.-mic {
            &.-active {
                color: $red;
            }

            &:before {
                content: "\e903";
            }
        }

        &.-send {
            &:before {
                content: "\e904";
            }
        }
    }
}