mixin chat(spec)
    - spec = spec || {}
    - spec.__class = spec.__class || ''

    .chat
        input.chat__box(type="input", placeholder="")

        .chat-btn-wrapper
            button.chat__btn.-mic.-mute.js-talk(type="button", disabled="disabled")
                .sr-only Talk

            button.chat__btn.-send.js-send-query(type="button")
                .sr-only Send
